*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
  font-family: sans-serif;
}
.form-wrap{
  width: 390px;
  background-color: aquamarine;
  padding: 40px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h1{
  text-align: center;
  color: black;
  font-weight: normal;
  margin-bottom: 20px;
}
input{
  width: 100%;
  background-color: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  font-size: 16px;
}
input[type="button"]{background-color: green; border: 0; cursor: pointer; }
input[type="button"] :hover{background: tomato; transition: .4s;}
::placeholder{color: black;}