.mine  {
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px;
  /*height: 50px;
  width: 60%;
  margin: 20px 30px;*/
  position: relative;
  height: 50px;
  
    
}
.main{
  /*border: 3px solid #f1f1f1;*/
  margin: 60px 50px;
  
 
}
.text{
  padding-left: 560px;
  margin: 0px;
  margin-bottom: 10px;

} 

.container {
  width: 50%;
  padding: 40px 40px;
  margin: 20px 30px;
  margin-bottom: 50px;
  margin-left: 290px;
  display: inline-block;
  border: 8px solid #ccc;
  box-sizing: border-box;
  padding-left: 170px;
 
 
}

 .container button{
  background-color: yellowgreen;
  color: white;
  padding: 30px 30px;
  margin:  50px 10px;
  border: none;
  cursor: pointer;
  width: 25%;
  left: 100%;
  text-align: center;
  transform: translateY( 100%);
  outline: none;
  
}
