.text-title{
    font: normal bold 50px/70px var (--roboto);
}
.text-uppercase{
    text-transform: uppercase;
}
.button{
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var (--roboto);
    position: relative;
    border: 5px solid transparent;
    border-radius: 7px;
    margin-left: 59px;
}
.button.primary-button{
    background-color: lightsteelblue;
    text-transform: capitalize;
}

.social-icons a {
    display: inline;
    margin-left: 56px;
    color: black; 
}
#myButton{
    text-transform: capitalize;
    color: black;
}