.flex-container{
    background-color:grey;
    padding: 10px;
    display: flex;
    flex: wrap;
    flex-direction: row; 
   /* flex-flow: row wrap;*/
    height: 200px;
    /*justify-content: center;*/
    align-content: center;
    

}
.flex-container > div{
    width: 300px;
    background-color: green;
    
}