body{
    background-color: #fbf9ff;
    margin:0px;
    padding: 0px;
}
ul{
    list-style: none;
}
section{
    width: 100%;
    height:95vh;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a {
    margin:30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 100;
}
.active{
 font-weight: bold;
 color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

}