.main{
    background-color: green;
    color: white;
    
    float: left;
  }
  
  main:hover {
    background-color: blue;
  }

  .mine{
    background-color: red ;
    float: right;
  }
.container{
  background-color: blue ;

}