.first-div p{
    background-color: yellowgreen;
   
}

.second-div  > p  {
    background-color: yellow;
   
}

.third-div  +  p {
    background-color: green;
}

.forth-div  ~  p {
    background-color: yellow;
  }