div.static {
    position: static;
    border: 3px solid #73AD21;
    text-shadow: 2px 2px;
  }
  div.relative {
    position: relative;
    text-shadow: 2px 2px;
    border: 3px solid #7334d6;
  }
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    border: 3px solid #674321;
  }
  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
  div.sticky {
     position: sticky;
    top:10;
    position: -webkit-sticky;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4c342a;
  }